<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <link rel="icon" type="img/png" href="./Images/blueStroller.png">
        <title>gaitStroller</title>
        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./style2.css">
    </head>
    <body>
        <div class="content">
            <header></header>

            <h1 id="title">gaitStroller</h1>
            <h2 id="subTitle" class="subTitle">a category revolution</h2>
            <img id="logo" src="./Images/blueStroller.png" alt="Logo">

            <div class="firstStuff">
                <% if(success === true){ %>
                    <p class="success"><%=message%></p>
                <% }else{ %>
                    <form action="/phasethree" method="post">
                        <img class="logo" src="./Images/blueStroller.png" alt="Gait Stroller Logo">

                        <h2 id="formTitle">stay in the loop <br> with gaitStroller</h2>

                        <label>name:
                            <input type="text" name="name" required>
                        </label>

                        <label>email:
                            <input type="email" name="email" required>
                        </label>

                        <label class="differentLabel">interested as a gift?
                            <input type="checkbox" name="gift">
                        </label>

                        <input type="hidden" name="page" value="<%=page%>">

                        <input class="button" class="button" type="submit" value="SUBMIT">
                    </form>
                <% } %>

                <img class="mainImg" src="./Images/runnerCompressed.jpg" alt="Gait Stroller Runner">
            </div>

            <div class="valProps">
                <div class="valProp">
                    <img src="./Images/trump1.jpeg" alt="Benefit One">

                    <h3>hands-free running with your child</h3>

                    <p>don’t sacrifice your natural running stride because of your stoller. take your child along for the ride! speed training, fartleks, and distance runs can now be completed with your child in tow. Taking your training buddy for all types of training runs has never been easier. Let your child enjoy watching their parent train while enjoying the ride!</p>
                </div>

                <div class="valProp">
                    <img src="./Images/biden1.jpeg" alt="Benefit Two">

                    <h3>from pull to push with the click of a button</h3>

                    <p>there will be times when you want to push your child in a traditional stroller. The gaitStroller changes from pull to push with the simple click of a button. You can even do it in the middle of a run if your plans change or you run into a friend. No extra equipment or attachments are required: just one simple click.</p>
                </div>

                <div class="valProp">
                    <img src="./Images/trump2.jpeg" alt="Benefit Three">

                    <h3>a minimal storage footprint</h3>

                    <p>remember when running strollers were guaranteed to take up valuable trunk or storage space? The gaitStroller folds into its storage configuration and leaves a flat surface for storage. Our stroller is durable: pack it however you want and stack on it whatever you need to complete your day. Gone are the days of moving the stroller to go on a day trip or run errands.</p>
                </div>
            </div>

            <footer>
                <p>gaitStroller &copy;2020 | Seattle, WA
            </footer>
        </div>
    </body>

    <script>
        let header = document.getElementById("title");
        let subTitle = document.getElementById("subTitle");
        let distance = document.documentElement.scrollTop;
        let logo = document.getElementById("logo");
        let defaultFont = 75;
        let shrinkMultiplier = 5.5

        if(window.screen.width <= 1000){
            defaultFont = 50;
            shrinkMultiplier = 12;
        }

        if(distance < 250){
            header.style.fontSize = `${defaultFont - (distance / shrinkMultiplier)}px`;
        }

        window.onscroll = ()=>{
            let distance = document.documentElement.scrollTop;
            if(distance < 250){
                header.style.fontSize = `${defaultFont - (distance / shrinkMultiplier)}px`;
            }

            if(distance > 325){
                logo.style.position = "fixed";
            }else{
                logo.style.position = "static";
            }
        }
    </script>
</html>