<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <link rel="icon" type="img/png" href="./Images/blueStroller.png">
        <title>gaitStroller</title>
        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        <div class="everything">
            <% if(success === false){ %>
                <h2 class="error"><%=message%></h2>
            <% } %>

            <div class="centerImage">
                <% if(page === "p1m2549b"){ %>
                    <img class="backgroundImage" src="./Images/stroller2.jpg" alt="Gait Stroller">
                <% }else{ %>
                    <img class="backgroundImage" src="./Images/stroller1.png" alt="Gait Stroller">
                <% } %>

                <% if(success === true){ %>
                    <p class="success"><%=message%></p>
                <% }else{ %>
                    <form action="/phaseone" method="post">
                        <img class="logo" src="./Images/blueStroller.png" alt="Gait Stroller Logo">

                        <h2 id="formTitle">stay in the loop <br> with gaitStroller</h2>

                        <label>name:
                            <input type="text" name="name" required>
                        </label>

                        <label>email:
                            <input type="email" name="email" required>
                        </label>

                        <label>zip code:
                            <input type="text" name="zipCode">
                        </label>

                        <input type="hidden" name="page" value="<%=page%>">

                        <input class="button" class="button" type="submit" value="SUBMIT">
                    </form>
                <% } %>
            </div>

            <div class="bottom">
                <div class="bottomLeft"></div>
                
                <div class="valueProp">
                    <h3>An all-in-one child-carrying stroller designed for runners, fitness walkers and bicycle commuters</h3>

                    <p>With exceptional engineering, the gaitStroller competes against high-end jogging strollers and bike trailers. But the gaitStroller brings more. With pivoting and telescoping rails, the gaitStroller has a novel hybrid function. gaitStroller can be pulled, on two wheels, from a runner’s waist. This transforms the running experience as it enables a natural running stride.</p>
                </div>
            </div>

            <footer>
                <div class="liner"></div>
                <p>gaitStroller &copy 2020 | Seattle, WA | <a href="mailto:info@gaitstroller.com">Contact Us</a></p>
            </footer>
        </div>
    </body>
</html>