<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <link rel="icon" type="img/png" href="./Shared/Images/Man_Yellow.png">
        <title>Gait Stroller</title>
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        <header>
            <h1>Headline that matches what was clicked</h1>

            <h3>A supporting subheader to provide extra information</h3>
        </header>

        <div class="mainContent">
            <img src="./Shared/Images/Man_Yellow.png" alt="Gait Stroller">

            <div class="mainContentRight">
                <p class="mainContentText">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>

                <h2>Learn More!</h2>

                <form action="/phaseOne" method="post">
                    <label>Name:
                        <input type="text" name="name" required>
                    </label>

                    <label>Email:
                        <input type="email" name="email" required>
                    </label>

                    <label>Zip Code:
                        <input type="text" name="zipCode" required>
                    </label>

                    <input type="hidden" name="page" value="<%=page%>">

                    <input class="button" type="submit" value="SUBMIT">
                </form>
            </div>
        </div>

        <div class="extraInfo">
            <div class="infoItem">
                <img src="./Shared/Images/Man_Yellow.png" alt="Gait Stroller">

                <h2>Extra Info Here</h2>

                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            </div>

            <div class="infoItem">
                <img src="./Shared/Images/Man_Yellow.png" alt="Gait Stroller">

                <h2>List Some Points</h2>

                <ul>
                    <li>Does things</li>

                    <li>Sometimes doesn't things</li>

                    <li>You decide!</li>

                    <li>Lower mortality rate than suicide!</li>
                </ul>
            </div>

            <div class="infoItem">
                <img src="./Shared/Images/Man_Yellow.png" alt="Gait Stroller">

                <h2>Extra Info Here</h2>

                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            </div>
        </div>
    </body>
</html>