*{margin:0;padding:0;}

body{
    display: flex;
    justify-content: center;
    font-family: 'Libre Baskerville', serif;
    background: rgb(121, 126, 131);
}

.everything{
    max-width: 1000px;
    background: rgb(241, 250, 249);
    height: 100vh;
}

#formTitle{
    text-align: center;
    font-size: 25px;
    margin-top: 0;
}

.backgroundImage{
    max-height: 70vh;
    width: 100%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background: rgba(249, 249, 249, 0.9);
    border: 2px solid rgb(66, 191, 170);
    padding: 0 35px 10px 35px;
    bottom: -150px;
    margin-left: 25px;
    border-radius: 10px;
    color: black;
    max-width: 280px;
}

    form > *{
        margin: 10px;
    }

    .logo{
        max-height: 100px;
        max-width: 100px;
        margin: 0;
    }

    label{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        white-space: nowrap;
    }

    .button{
        background: none;
        border: 2px solid black;
        color: black;
        font-size: 20px;
        font-weight: bold;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
        transition: background 0.5s, color 0.5s;
    }

        .button:hover{
            background: rgba(0, 0, 0, 0.8);
            color: white;
        }
    
.centerImage{
    position: relative;
    width: 100%;
    margin-bottom: -10px;
}

    .success{
        position: absolute;
        bottom: 100px;
        margin-left: 40px;
        font-size: 30px;
        font-weight: bold;
        color: black;
        background: rgba(249, 249, 249, 0.9);
        border: 2px solid rgb(66, 191, 170);
        padding: 10px;
        border-radius: 5px;
    }

    .differentLabel{
        display: flex;
        justify-content: left;
    }

        .differentLabel > input{
            margin-left: 25px;
        }

.bottom{
    height: 30vh;
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
    box-sizing: border-box;
}

    .bottomLeft{
        width: 45%;
    }

    .valueProp{
        display: flex;
        flex-basis: 100px;
        flex-grow: 1;
        flex-direction: column;
        align-items: center;
        width: 50%;
        margin: 15px 50px 0 0;
    }

        .valueProp h3{
            font-size: 18px;
            margin-bottom: 10px;
            text-align: center;
            width: 95%;
        }

        .valueProp p{
            font-size: 15px;
            line-height: 1.8;
            text-align: justify;
        }

footer{
    padding: 15px;
    padding-bottom: 0;
    background: rgb(241, 250, 249);
}

    footer p{
        padding: 10px;
    }

.liner{
    border: 1px solid rgb(225, 225, 225);
    width: 100%;
    margin-bottom: 10px;
}

@media screen and (max-width: 1000px){
    .everything{
        height: inherit;
    }

    form{
        position: static;
        margin: 0;
        margin-top: -5px;
        width: 100%;
        box-sizing: border-box;
        border-radius: 0;
    }

    label{
        flex-direction: column;
        align-items: center;
    }

    .centerImage{
        height: inherit;
        position: static;
        overflow: hidden;
    }

        .success{
            position: static;
            text-align: center;
            font-size: 25px;
            padding: 15px;
            margin: 0;
        }

    .bottom{
        height: inherit;
    }

        .bottomLeft{
            display: none;
        }

        .valueProp{
            width: 100%;
            margin: 0;
            padding: 20px;
            text-align: justify;
            box-sizing: border-box;
        }
}