*{margin:0;padding:0;}

body{
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.error{
    background: red;
    color: white;
    width: 100%;
    text-align: center;
}

header{
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
}

    header > *{
        margin: 10px;
    }

.mainContent{
    display: flex;
    justify-content: space-around;
    background: rgb(104, 104, 104);
    color: white;
    padding: 25px;
}

    .mainContent img{
        background: white;
        width: 35%;
    }

    .mainContentRight{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        max-width: 45%;
    }

        .mainContentRight > *{
            margin: 10px 0;
        }

        .mainContentRight p{
            font-size: 20px;
        }

        .yellow{
            color: rgb(255, 213, 0);
        }

        form{
            display: flex;
            flex-direction: column;
            padding: 10px;
            border: 1px solid white;
        }

            form > *{
                margin: 10px;
            }

            .button{
                border: 2px solid rgb(255, 213, 0);
                color: rgb(255, 213, 0);
                background: none;
                border-radius: 5px;
                box-shadow: 3px 3px 3px black;
                font-size: 25px;
                font-weight: bold;
                cursor: pointer;
            }

                .button:hover{
                    background: rgb(255, 213, 0);
                    color: rgb(104, 104, 104);
                }

                .button:active{
                    box-shadow: 1px 1px black;
                }

.extraInfo{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 50px;
}

    .infoItem{
        width: 20%;
        padding: 15px;
    }

        .infoItem img{
            width: 75%;
        }

        ul{
            text-align: left;
        }

@media screen and (max-width: 1000px){
    .mainContent{
        flex-direction: column;
        align-items: center;
        padding: 0;
        padding-top: 25px;
        width: 100%;
    }

        .mainContent img{
            width: 90%;
        }

        .mainContentRight{
            max-width: 90%;
            text-align: justify;
        }

        input{
            max-width: 150px;
        }

        form{
            align-items: center;
        }

        .button{
            padding: 0 5px;
        }

        .extraInfo{
            flex-direction: column;
            align-items: center;
        }

            .infoItem{
                width: 85%;
                border: 1px solid black;
                border-radius: 10px;
                padding: 5px;
                margin: 5px;
            }

                ul{
                    margin-left: 20px;
                }
}